

.cell {
  min-width: 40px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
  text-indent:-5000px;  
}

.showen {
  background-image: url("../img/back.png");
  background-size: 100%;
}

.flagged {
  background-image: url("../img/flag.png");
  background-size: 100%;
}

.mine {
  background-color: red;
  background-image: url("../img/mine.png");
  background-size: 100%;
}

.cellBorder {
  border: 1px solid white;
}

.container-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container-bar2 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timerContainer {
  display: flex;
}

.timerIcon {
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
.clock {
  margin-top: 14px;
  display: flex;
}

.scoreContainer {
  display: flex;
}

.scoreIcon {
  margin-top: 5px;
}
.score {
  margin-top: 14px;
  display: flex;
}

.container-bar3 {
  width: 100%;
  display: flex;
  justify-content: center;
}

.restrtBtn {
  display: flex;
  visibility: collapse;
}

.container-item {
  width: 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.gameContainer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mineSymbol {
  width: 40px;
  height: 40px;
}

.item {
    border: 1px solid grey;
    border-bottom: 1px solid grey;
    width: 20%;
    height: 250px;
    margin: 5px;
    background: darkgrey;
    color: white;
    text-align: center;
    line-height: 50px;
    font-weight: 600;
}
